<section id="header-container">
  <header id="header">
    <a id="logo" href="<%= @web_url %>">
      <img class="<%= @logo_class %>" src="<%= @logo %>" />
    </a>

    <a id="phone" href="<%= @phone %>"><i class="fa fa-phone"></i>
      <%= @phone_display %>
    </a>

    <!-- Menu -->
    <nav id="nav">
      <ul id="menu">
        <li class="<%= menu_home_class %>"><a href="<%= @web_url %>">Home</a></li>
        <li class="<%= current_menu_parent %>">
          <a href="<%= cashback_promotions_path %>">Solutions</a>
          <ul>
            <li class="<%= menu_cashback_promotions_class %>"><a href="<%= cashback_promotions_path %>">Cashback Promotions</a></li>
            <li class="<%= menu_cashback_payments_and_distribution_class %>"><a href="<%= cashback_payments_and_distribution_path %>">Cashback Payments and Distribution</a></li>
            <li class="<%= menu_loyalty_programs_class %>"><a href="<%= loyalty_programs_path %>">Loyalty Programs</a></li>
            <li class="<%= menu_competitions_sweepstakes_and_games_class %>"><a href="<%= competitions_sweepstakes_and_games_path %>">Competitions, Sweepstakes and Games</a></li>
            <li class="<%= menu_promotion_management_class %>"><a href="<%= promotion_management_path %>">Promotion Management</a></li>
            <li class="<%= menu_gift_with_purchase_class %>" ><a href="<%= gift_with_purchase_path %>">Gift With Purchase</a></li>

            <!-- TODO: modify below url -->
            <% unless @base_url.include?("nz") %>
              <li class="<%= menu_eftpos_cash_back_cards_class %>"><a href="<%= eftpos_cash_back_cards_path %>">EFTPOS Cash Back Cards</a></li>
            <% end %>
          </ul>
        </li>
        <li class="<%= menu_about_us_class %>"><a href="<%= about_us_path %>">About us</a></li>
        <li class="<%= menu_contact_class %>"><a href="<%= contact_path %>">Contact</a></li>
      </ul>
    </nav>

    <!-- Menu Button -->
    <a id="menu-button" href="#">
      <span class="lines">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </span>
    </a>

    <!-- Mobile Menu -->
    <nav id="mobile-nav">
      <ul id="mobile-menu">
        <li class="<%= menu_home_class %>"><a href="<%= @web_url %>">Home</a></li>
        <li class="<%= current_menu_parent %>">
          <a href="<%= cashback_promotions_path %>">Solutions</a>
          <ul>
            <li class="<%= menu_cashback_promotions_class %>"><a href="<%= cashback_promotions_path %>">Cashback Promotions</a></li>
            <li class="<%= menu_cashback_payments_and_distribution_class %>"><a href="<%= cashback_payments_and_distribution_path %>">Cashback Payments and Distribution</a></li>
            <li class="<%= menu_loyalty_programs_class %>"><a href="<%= loyalty_programs_path %>">Loyalty Programs</a></li>
            <li class="<%= menu_competitions_sweepstakes_and_games_class %>"><a href="<%= competitions_sweepstakes_and_games_path %>">Competitions, Sweepstakes and Games</a></li>
            <li class="<%= menu_promotion_management_class %>"><a href="<%= promotion_management_path %>">Promotion Management</a></li>
            <li class="<%= menu_gift_with_purchase_class %>" ><a href="<%= gift_with_purchase_path %>">Gift With Purchase</a></li>
            <li class="<%= menu_eftpos_cash_back_cards_class %>"><a href="<%= eftpos_cash_back_cards_path %>">EFTPOS Cash Back Cards</a></li>
          </ul>
        </li>
        <li class="<%= menu_about_us_class %>"><a href="<%= about_us_path %>">About us</a></li>
        <li class="<%= menu_contact_class %>"><a href="<%= contact_path %>">Contact</a></li>
      </ul>
      <div class="clear"></div>
    </nav>
  </header>
</section>
