<section id="register-container" class="contact-page">
    <article id="register">

      <div class="center">
        <h2>Register</h2>
        <p>If you would like to receive future marketing information from <%= @site_name %> in the form of e-newsletters, updates and promotions. Please register your information below</p>
      </div>

      <div class="left">
        <div id="contact-form">
          <%= form_tag('/register_cashback', method: :post) do %>
            <label>Contact Us</label>
            <%= text_field_tag "name", "", :placeholder => "Name" %>
            <%= text_field_tag "email", "", :placeholder => "Email" %>
            <input type="submit" value="Submit" />
          <% end %>
        </div>
      </div>

      <div class="right">
        <p><%= @address[:line_1] %></p>
        <p><%= @address[:line_2] %></p>
        <p><%= @address[:line_3] %></p>
        <p>Phone: <strong><%= @phone_display %></strong></p>
      </div>

      <div class="clear"></div>
    </article>
  </section>
