<!-- Header -->
<section id="header-container">
  <header id="header">

    <!-- Logo -->
    <a id="logo" href="<%= @home_page %>">
      <img class="<%= @logo_class %>" src="<%= @logo %>" />
    </a>


    <!-- Phone -->
    <a id="phone" href="<%= @phone %>"><i class="fa fa-phone"></i>
      <%= @phone_display %>
    </a>


    <!-- Menu -->
    <nav id="nav">
      <ul id="menu">
        <li><a href="<%= @home_page %>">Home</a></li>
        <li>
          <a href="<%= cashback_promotions_path %>">Solutions</a>
          <ul>
              <li><a href="<%= cashback_promotions_path %>">Cashback Promotions</a></li>
            <li><a href="<%= cashback_payments_and_distribution_path %>">Cashback Payments and Distribution</a></li>
            <li><a href="<%= loyalty_programs_path %>">Loyalty Programs</a></li>
            <li><a href="<%= competitions_sweepstakes_and_games_path %>">Competitions, Sweepstakes and Games</a></li>
            <li><a href="<%= promotion_management_path %>">Promotion Management</a></li>
            <li><a href="<%= gift_with_purchase_path %>">Gift With Purchase</a></li>
            <li><a href="<%= eftpos_cash_back_cards_path %>">EFTPOS Cash Back Cards</a></li>
          </ul>
        </li>
        <li class="current-menu-item"><a href="<%= about_us_path %>">About us</a></li>
        <li><a href="<%= contact_path %>">Contact</a></li>
      </ul>
    </nav>


    <!-- Menu Button -->
    <a id="menu-button" href="#">
      <span class="lines">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </span>
    </a>


    <!-- Mobile Menu -->
    <nav id="mobile-nav">
      <ul id="mobile-menu">
        <li><a href="<%= @home_page %>">Home</a></li>
        <li>
          <a href="<%= cashback_promotions_path %>">Solutions</a>
          <ul>
            <li><a href="<%= cashback_promotions_path %>">Cashback Promotions</a></li>
            <li><a href="<%= cashback_payments_and_distribution_path %>">Cashback Payments and Distribution</a></li>
            <li><a href="<%= loyalty_programs_path %>">Loyalty Programs</a></li>
            <li><a href="<%= competitions_sweepstakes_and_games_path %>">Competitions, Sweepstakes and Games</a></li>
            <li><a href="<%= promotion_management_path %>">Promotion Management</a></li>
            <li><a href="<%= gift_with_purchase_path %>">Gift With Purchase</a></li>
            <li><a href="<%= eftpos_cash_back_cards_path %>">EFTPOS Cash Back Cards</a></li>
          </ul>
        </li>
        <li class="current-menu-item"><a href="<%= about_us_path %>">About us</a></li>
        <li><a href="<%= contact_path %>">Contact</a></li>
      </ul>
      <div class="clear"><!-- --></div>
    </nav>
  </header>
</section>


<!-- Page Banner -->
<section id="page-banner-container" class="fixed-bg" style="background: transparent url(images/about-banner.jpg) no-repeat center center;">
  <article id="page-banner">
    <h1>Australia and New Zealand’s cashback promotion specialists</h1>

    <!-- Center -->
    <div class="center">
      <p>Since 2004, Cashback.com.au has led the way in cashback and loyalty program marketing in Australia and New Zealand, providing fun and rewarding experiences for consumers while helping drive growth for our clients.</p>
      <p>In this time, we have run campaigns for some of the world’s most visible brands, helping them to:</p>
      <ul>
        <li>Boost profits</li>
        <li>Gain market share</li>
        <li>Raise product awareness and brand visibility</li>
        <li>Increase sales</li>
      </ul>
    </div>

    <!-- Clients -->
    <div class="clients">
      <img src="images/canon-logo-white.jpg" />
      <img src="images/nikon-logo-white.jpg" />
      <img src="images/garmin-logo-white.jpg" />
      <img src="images/adobe-logo-white.jpg" />
      <img src="images/makita-logo-white.jpg" />
      <img src="images/imation-logo-white.jpg" />
      <img src="images/fujifilm-logo-white.jpg" />
      <img src="images/netgear-logo-white.jpg" />
    </div>

    <!-- Center -->
    <div class="center">
      <p>By providing end-to-end solutions, we can also offer a cost-effective way to expand your marketing activity. Using our years of experience and detailed sector knowledge, we have all the tools required to make sure delivery is as smooth as possible.</p>
      <p>Cashback.com.au is a division of Pro-Logic International, a promotional management company operating across Australia and New Zealand.</p>
    </div>
  </article>
</section>


<!-- Wrapper -->
<div id="wrapper">

  <!-- Contact Us -->
  <section id="contact-us-container" class="no-image">
    <article id="contact-us">

      <!-- Left -->
      <div class="left">

        <!-- Contact Form -->
        <div id="contact-form">
          <label>Contact Us</label>
          <input type="text" placeholder="Name" />
          <input type="email" placeholder="Email" />
          <textarea placeholder="Message"></textarea>
          <input type="submit" value="Submit" />
        </div>
      </div>

      <!-- Right -->
      <div class="right">
        <p>Contact Cashback.com.au today to find out how cashback and loyalty programs can help you grow your business.</p>
        <p><%= @address[:line_1] %></p>
        <p><%= @address[:line_2] %></p>
        <p><%= @address[:line_3] %></p>
        <p>Phone: <strong><%= @phone_display %></strong></p>
      </div>

      <div class="clear"><!-- --></div>
    </article>
  </section>


  <!-- Footer -->
  <section id="footer-container">
    <footer id="footer">

      <!-- Footer Logo -->
      <a id="footer-logo" href="<%= @home_page %>">
        <img class="<%= @logo_class %>" src="<%= @logo %>" />
      </a>

      <div class="clear"><!-- --></div>

      <!-- Footer Menu -->
      <nav id="footer-nav">
        <ul id="footer-menu">
          <li><a href="<%= @home_page %>">Home</a></li>
          <li>
            <a href="<%= cashback_promotions_path %>">Solutions</a>
            <ul>
              <li><a href="<%= cashback_promotions_path %>">Cashback Promotions</a></li>
              <li><a href="<%= cashback_payments_and_distribution_path %>">Cashback Payments and Distribution</a></li>
              <li><a href="<%= loyalty_programs_path %>">Loyalty Programs</a></li>
              <li><a href="<%= competitions_sweepstakes_and_games_path %>">Competitions, Sweepstakes and Games</a></li>
              <li><a href="<%= promotion_management_path %>">Promotion Management</a></li>
              <li><a href="<%= gift_with_purchase_path %>">Gift With Purchase</a></li>
              <li><a href="<%= eftpos_cash_back_cards_path %>">EFTPOS Cash Back Cards</a></li>
            </ul>
          </li>
          <li class="current-menu-item"><a href="<%= about_us_path %>">About us</a></li>
          <li><a href="<%= contact_path %>">Contact</a></li>
        </ul>
        <div class="clear"><!-- --></div>
      </nav>


      <!-- Copyright -->
      <div id="copyright">
        <p>Cashback and MYcashback  - Copyright &copy; 2017</p>
      </div>


      <!-- Credits -->
      <div id="credits">
        <a href="http://mc3.com.au/" target="_blank">MC3 Design</a>
      </div>

      <div class="clear"><!-- --></div>
    </footer>
  </section>
</div>
