<!-- Header -->
<section id="header-container">
  <header id="header">
    <!-- Logo -->
    <a id="logo" href="<%= @home_page %>">
      <img class="<%= @logo_class %>" src="<%= @logo %>" />
    </a>

    <!-- Phone -->
    <a id="phone" href="<%= @phone %>"><i class="fa fa-phone"></i>
      <%= @phone_display %>
    </a>

    <!-- Menu -->
    <nav id="nav">
      <ul id="menu">
        <li><a href="<%= @home_page %>">Home</a></li>
        <li class="current-menu-parent">
          <a href="<%= cashback_promotions_path %>">Solutions</a>
          <ul>
            <li><a href="<%= cashback_promotions_path %>">Cashback Promotions</a></li>
            <li class="current-menu-item"><a href="<%= cashback_payments_and_distribution_path %>">Cashback Payments and Distribution</a></li>
            <li><a href="loyalty-programs.html">Loyalty Programs</a></li>
            <li><a href="competitions-sweepstakes-and-games.html">Competitions, Sweepstakes and Games</a></li>
            <li><a href="promotion-management.html">Promotion Management</a></li>
            <li><a href="gift-with-purchase.html">Gift With Purchase</a></li>
            <li><a href="eftpos-cash-back-cards.html">EFTPOS Cash Back Cards</a></li>
          </ul>
        </li>
        <li><a href="about-us.html">About us</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>

    <!-- Menu Button -->
    <a id="menu-button" href="#">
      <span class="lines">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </span>
    </a>

    <!-- Mobile Menu -->
    <nav id="mobile-nav">
      <ul id="mobile-menu">
        <li><a href="<%= @home_page %>">Home</a></li>
        <li class="current-menu-parent">
          <a href="<%= cashback_promotions_path %>">Solutions</a>
          <ul>
            <li><a href="<%= cashback_promotions_path %>">Cashback Promotions</a></li>
            <li class="current-menu-item"><a href="<%= cashback_payments_and_distribution_path %>">Cashback Payments and Distribution</a></li>
            <li><a href="loyalty-programs.html">Loyalty Programs</a></li>
            <li><a href="competitions-sweepstakes-and-games.html">Competitions, Sweepstakes and Games</a></li>
            <li><a href="promotion-management.html">Promotion Management</a></li>
            <li><a href="gift-with-purchase.html">Gift With Purchase</a></li>
            <li><a href="eftpos-cash-back-cards.html">EFTPOS Cash Back Cards</a></li>
          </ul>
        </li>
        <li><a href="about-us.html">About us</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
      <div class="clear"><!-- --></div>
    </nav>
  </header>
</section>

<!-- Page Banner -->
<section id="page-banner-container" style="background: transparent url(images/currency-banner.jpg) no-repeat center center;">
  <article id="page-banner">
    <h1>Cashback payments and distribution</h1>
    <h2>Using the latest technology to reward your customers</h2>
  </article>
</section>

<!-- Wrapper -->
<div id="wrapper">
  <!-- Content -->
  <section class="container">
    <article class="content no-padding">
      <!-- Column Left -->
      <div class="column-left column">
        <img class="alignright" src="images/currency-image-1.png" />
      </div>

      <!-- Column Right -->
      <div class="column-right column">
        <h2>EFT, Branded Eftpos Cards and even Cheques</h2>
        <p>EFT, branded cards and cheques are all essential tools when it comes to loyalty reward campaigns. We can manage and deliver all of these reward types, including processing and dispatch.</p>
      </div>

      <div class="clear"><!-- --></div>
    </article>
  </section>

  <!-- Content Gray -->
  <section class="container gray">
    <article class="content">
      <!-- Column Left -->
      <div class="column-left column">
        <h2>SMART Phone digital payments</h2>
        <p>We have just launched digital store cards with over 40 national retailers to choose from.</p>
        <p>As well as the traditional means of rewards and validation, is staying ahead of the curve and providing digital payment methods as an alternative to the production and delivery of cheques and gift cards. The benefits of digital payment methods include:</p>
        <ul>
          <li>Instant delivery</li>
          <li>Co-branded currency</li>
          <li>Strong retail partnerships</li>
          <li>Eliminate “lost in the mail” or physical delays</li>
          <li>No difficult customer activation process</li>
          <li>Can create any retailer partners digital program</li>
        </ul>
        <p>Digital currency is versatile and can be used for both competition rewards and all forms of promotional rebate.</p>
        <p>A recent example was one of our well known camera clients. They provided a Hoyts e-card to every customer who completed their online training document. The customer not only learn’t how to use their new camera they were rewarded with a gift for doing so. All online and fully automated.</p>
      </div>

      <!-- Column Right -->
      <div class="column-right column">
        <img class="alignleft" src="images/currency-image-2.png" />
      </div>

      <div class="clear"><!-- --></div>
    </article>
  </section>

  <!-- Contact Us -->
  <section id="contact-us-container">
    <article id="contact-us">
      <!-- Left -->
      <div class="left">
        <!-- Contact Form -->
        <div id="contact-form">
            <label>Contact Us</label>
            <input type="text" placeholder="Name" />
            <input type="email" placeholder="Email" />
            <textarea placeholder="Message"></textarea>
            <input type="submit" value="Submit" />
        </div>
      </div>

      <!-- Right -->
      <div class="right">
        <p>Contact Cashback.com.au today to find out how cashback and loyalty programs can help you grow your business.</p>
        <p><%= @address[:line_1] %></p>
        <p><%= @address[:line_2] %></p>
        <p><%= @address[:line_3] %></p>
        <p>Phone: <strong><%= @phone_display %></strong></p>
      </div>

      <div class="clear"><!-- --></div>
    </article>
  </section>

  <!-- Footer -->
  <section id="footer-container">
    <footer id="footer">
      <!-- Footer Logo -->
      <a id="footer-logo" href="<%= @home_page %>">
        <img class="<%= @logo_class %>" src="<%= @logo %>" />
      </a>

      <div class="clear"><!-- --></div>

      <!-- Footer Menu -->
      <nav id="footer-nav">
        <ul id="footer-menu">
          <li><a href="<%= @home_page %>">Home</a></li>
          <li class="current-menu-parent">
            <a href="<%= cashback_promotions_path %>">Solutions</a>
            <ul>
              <li><a href="<%= cashback_promotions_path %>">Cashback Promotions</a></li>
              <li class="current-menu-item"><a href="<%= cashback_payments_and_distribution_path %>">Cashback Payments and Distribution</a></li>
              <li><a href="loyalty-programs.html">Loyalty Programs</a></li>
              <li><a href="competitions-sweepstakes-and-games.html">Competitions, Sweepstakes and Games</a></li>
              <li><a href="promotion-management.html">Promotion Management</a></li>
              <li><a href="gift-with-purchase.html">Gift With Purchase</a></li>
              <li><a href="eftpos-cash-back-cards.html">EFTPOS Cash Back Cards</a></li>
            </ul>
          </li>
          <li><a href="about-us.html">About us</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
        <div class="clear"><!-- --></div>
      </nav>

      <!-- Copyright -->
      <div id="copyright">
        <p>Cashback and MYcashback  - Copyright &copy; 2017</p>
      </div>

      <!-- Credits -->
      <div id="credits">
        <a href="http://mc3.com.au/" target="_blank">MC3 Design</a>
      </div>

      <div class="clear"><!-- --></div>
    </footer>
  </section>
</div>
