<!-- Header -->
<section id="header-container">
  <header id="header">
    <!-- Logo -->
    <a id="logo" href="<%= @home_page %>">
      <img class="<%= @logo_class %>" src="<%= @logo %>" />
    </a>

    <!-- Phone -->
    <a id="phone" href="<%= @phone %>"><i class="fa fa-phone"></i>
      <%= @phone_display %>
    </a>

    <!-- Menu -->
    <nav id="nav">
      <ul id="menu">
        <li><a href="<%= @home_page %>">Home</a></li>
        <li class="current-menu-parent">
          <a href="<%= cashback_promotions_path %>">Solutions</a>
          <ul>
            <li><a href="<%= cashback_promotions_path %>">Cashback Promotions</a></li>
            <li><a href="<%= cashback_payments_and_distribution_path %>">Cashback Payments and Distribution</a></li>
            <li><a href="<%= loyalty_programs_path %>">Loyalty Programs</a></li>
            <li class="current-menu-item"><a href="<%= competitions_sweepstakes_and_games_path %>">Competitions, Sweepstakes and Games</a></li>
            <li><a href="<%= promotion_management_path %>">Promotion Management</a></li>
            <li><a href="<%= gift_with_purchase_path %>">Gift With Purchase</a></li>
            <li><a href="<%= eftpos_cash_back_cards_path %>">EFTPOS Cash Back Cards</a></li>
          </ul>
        </li>
        <li><a href="<%= about_us_path %>">About us</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>


    <!-- Menu Button -->
    <a id="menu-button" href="#">
      <span class="lines">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </span>
    </a>


    <!-- Mobile Menu -->
    <nav id="mobile-nav">
      <ul id="mobile-menu">
        <li><a href="<%= @home_page %>">Home</a></li>
        <li class="current-menu-parent">
          <a href="<%= cashback_promotions_path %>">Solutions</a>
          <ul>
            <li><a href="<%= cashback_promotions_path %>">Cashback Promotions</a></li>
            <li><a href="<%= cashback_payments_and_distribution_path %>">Cashback Payments and Distribution</a></li>
            <li><a href="<%= loyalty_programs_path %>">Loyalty Programs</a></li>
            <li class="current-menu-item"><a href="<%= competitions_sweepstakes_and_games_path %>">Competitions, Sweepstakes and Games</a></li>
            <li><a href="<%= promotion_management_path %>">Promotion Management</a></li>
            <li><a href="<%= gift_with_purchase_path %>">Gift With Purchase</a></li>
            <li><a href="<%= eftpos_cash_back_cards_path %>">EFTPOS Cash Back Cards</a></li>
          </ul>
        </li>
        <li><a href="<%= about_us_path %>">About us</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
      <div class="clear"><!-- --></div>
    </nav>
  </header>
</section>

<!-- Page Banner -->
<section id="page-banner-container" style="background: transparent url(images/competitions-banner.jpg) no-repeat center center;">
  <article id="page-banner">
    <h1>Competitions, Sweepstakes and Games</h1>
    <h2>Efficient and effective consumer engagement</h2>
  </article>
</section>

<!-- Wrapper -->
<div id="wrapper">
  <!-- Content -->
  <section class="container">
    <article class="content">
      <!-- Column Left -->
      <div class="column-left column">
        <img src="images/competitions-image-1.jpg" />
      </div>

      <!-- Column Right -->
      <div class="column-right column">
        <p>An eye-catching competition, sweepstake or game can be one of the most effective ways of getting people talking about your brand.</p>
        <p>At the same time, with the right strategy in place it's possible to offer huge rewards to a customer for a tiny fraction of the perceived cost. By intelligently structuring prize pools and distribution, Cashback.com.au can deliver standout campaigns without an excessive spend.</p>
      </div>

      <div class="clear"><!-- --></div>
    </article>
  </section>

  <!-- Content Gray -->
  <section class="container gray">
      <article class="content">
          <!-- Column Left -->
          <div class="column-left column">
              <h2>High-impact campaigns</h2>
              <p>There's nothing more exciting than offering customers potentially life changing rewards. With Cashback.com.au, you can be guaranteed that you will see the very best return for this investment.</p>
          </div>

          <!-- Column Right -->
          <div class="column-right column">
              <img class="alignleft" src="images/competitions-image-2.png" />
          </div>

          <div class="clear"><!-- --></div>
      </article>
  </section>

  <!-- Content -->
  <section class="container">
    <article class="content">
      <!-- Column Left -->
      <div class="column-left column">
        <img class="alignright" src="images/competitions-image-3.png" />
      </div>

      <!-- Column Right -->
      <div class="column-right column">
        <h2>Cost-effective promotion</h2>
        <p>At the same time, with the right strategy in place it’s possible to offer huge rewards to accustomers for a tiny fraction of the perceived cost. By intelligently structuring prize pools and distribution, Cashback.com.au can deliver standout campaigns without an excessive spend.</p>
      </div>

      <div class="clear"><!-- --></div>
    </article>
  </section>

  <!-- Content Background Image -->
  <section class="container image" style="background: transparent url(images/competitions-image-4.jpg) no-repeat center center;">
    <article class="content">

      <!-- Center -->
      <div class="center">
        <h2>From planning to distribution</h2>
        <p>Of course, any successful promotion campaign requires both thorough planning and effective delivery. Our end-to-end campaign management approach means you can rely on our expertise while freeing up valuable resources.</p>
      </div>

      <div class="clear"><!-- --></div>
    </article>
  </section>

  <!-- Contact Us -->
  <section id="contact-us-container">
    <article id="contact-us">
      <!-- Left -->
      <div class="left">
        <!-- Contact Form -->
        <div id="contact-form">
          <label>Contact Us</label>
          <input type="text" placeholder="Name" />
          <input type="email" placeholder="Email" />
          <textarea placeholder="Message"></textarea>
          <input type="submit" value="Submit" />
        </div>
      </div>

      <!-- Right -->
      <div class="right">
        <p>Contact Cashback.com.au today to find out how cashback and loyalty programs can help you grow your business.</p>
        <p><%= @address[:line_1] %></p>
        <p><%= @address[:line_2] %></p>
        <p><%= @address[:line_3] %></p>
        <p>Phone: <strong><%= @phone_display %></strong></p>
      </div>
      <div class="clear"><!-- --></div>
    </article>
  </section>

  <!-- Footer -->
  <section id="footer-container">
    <footer id="footer">
      <!-- Footer Logo -->
      <a id="footer-logo" href="<%= @home_page %>">
        <img class="<%= @logo_class %>" src="<%= @logo %>" />
      </a>

      <div class="clear"><!-- --></div>

      <!-- Footer Menu -->
      <nav id="footer-nav">
        <ul id="footer-menu">
          <li><a href="<%= @home_page %>">Home</a></li>
          <li class="current-menu-parent">
            <a href="<%= cashback_promotions_path %>">Solutions</a>
            <ul>
              <li><a href="<%= cashback_promotions_path %>">Cashback Promotions</a></li>
              <li><a href="<%= cashback_payments_and_distribution_path %>">Cashback Payments and Distribution</a></li>
              <li><a href="<%= loyalty_programs_path %>">Loyalty Programs</a></li>
              <li class="current-menu-item"><a href="<%= competitions_sweepstakes_and_games_path %>">Competitions, Sweepstakes and Games</a></li>
              <li><a href="<%= promotion_management_path %>">Promotion Management</a></li>
              <li><a href="<%= gift_with_purchase_path %>">Gift With Purchase</a></li>
              <li><a href="<%= eftpos_cash_back_cards_path %>">EFTPOS Cash Back Cards</a></li>
            </ul>
          </li>
          <li><a href="<%= about_us_path %>">About us</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
        <div class="clear"><!-- --></div>
      </nav>


      <!-- Copyright -->
      <div id="copyright">
        <p>Cashback and MYcashback  - Copyright &copy; 2017</p>
      </div>

      <!-- Credits -->
      <div id="credits">
        <a href="http://mc3.com.au/" target="_blank">MC3 Design</a>
      </div>

      <div class="clear"><!-- --></div>
    </footer>
  </section>
</div>
