<section id="header-container">
  <header id="header">

    <!-- Logo -->
    <a id="logo" href="/">
      <img class="<%= @logo_class %>" src="<%= @logo %>" />
    </a>

    <!-- Phone -->
    <a id="phone" href="tel:1300669487"><i class="fa fa-phone"><!-- --></i> 1 300 669 487</a>

    <!-- Menu -->
    <nav id="nav">
      <ul id="menu">
        <li class="current-menu-item">

          <%= link_to "Home", root_path %>
        </li>
        <li>
          <a href="cashback-promotions.html">Solutions</a>
          <ul>
            <li><a href="cashback-promotions.html">Cashback Promotions</a></li>
            <li><a href="cashback-payments-and-distribution.html">Cashback Payments and Distribution</a></li>
            <li><a href="loyalty-programs.html">Loyalty Programs</a></li>
            <li><a href="competitions-sweepstakes-and-games.html">Competitions, Sweepstakes and Games</a></li>
            <li><a href="promotion-management.html">Promotion Management</a></li>
            <li><a href="gift-with-purchase.html">Gift With Purchase</a></li>
            <li><a href="eftpos-cash-back-cards.html">EFTPOS Cash Back Cards</a></li>
          </ul>
        </li>
        <li><a href="about-us.html">About us</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>

    <!-- Menu Button -->
    <a id="menu-button" href="#">
      <span class="lines">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </span>
    </a>


    <!-- Mobile Menu -->
    <nav id="mobile-nav">
      <ul id="mobile-menu">
        <li class="current-menu-item">
          <%= link_to "Home", root_path %>
        </li>
        <li>
          <a href="cashback-promotions.html">Solutions</a>
          <ul>
            <li><a href="cashback-promotions.html">Cashback Promotions</a></li>
            <li><a href="cashback-payments-and-distribution.html">Cashback Payments and Distribution</a></li>
            <li><a href="loyalty-programs.html">Loyalty Programs</a></li>
            <li><a href="competitions-sweepstakes-and-games.html">Competitions, Sweepstakes and Games</a></li>
            <li><a href="promotion-management.html">Promotion Management</a></li>
            <li><a href="gift-with-purchase.html">Gift With Purchase</a></li>
            <li><a href="eftpos-cash-back-cards.html">EFTPOS Cash Back Cards</a></li>
          </ul>
        </li>
        <li><a href="about-us.html">About us</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
      <div class="clear"><!-- --></div>
    </nav>
  </section>

  <!-- Banner -->
  <section id="banner-container" style="background: transparent url(images/banner.jpg) no-repeat center center;">
    <article id="banner">
      <!-- Graphics -->
      <div class="graphics">
        <div class="inner">
          <img src="images/banner-graphics.png" />
        </div>
      </div>

      <!-- Banner Content -->
      <div id="banner-content">
        <h1>Cash Back programs for winning businesses</h1>
        <p>Australia’s leading cashback and loyalty program specialist</p>
        <a href="#who-we-are-container" class="scrollDown">Learn more</a>
      </div>
    </article>
  </section>



  <!-- Wrapper -->
  <div id="wrapper">
    <!-- Clients Bar -->
    <section id="clients-bar-container">
      <article id="clients-bar">
        <img src="images/canon-logo.png" />
        <img src="images/nikon-logo.png" />
        <img src="images/garmin-logo.png" />
        <img src="images/adobe-logo.png" />
        <img src="images/makita-logo.png" />
        <img src="images/imation-logo.png" />
        <img src="images/fujifilm-logo.png" />
        <img src="images/netgear-logo.png" />
      </article>
    </section>

    <!-- Who We Are -->
    <section id="who-we-are-container" class="home-content">
      <article id="who-we-are">
        <!-- Left -->
        <div class="left">
          <h2>Who we are</h2>
          <p>Cashback.com.au is Australia's leading cashback and loyalty program specialist.</p>
          <p>Our Cash Back gift card and promotion services are used by some of the world's most powerful brands across a wide range of industries, delivering outstanding sales results time and time again.</p>
        </div>

        <!-- Right -->
        <div class="right">
          <img src="images/who-we-are-image.png" />
        </div>

        <!-- Scroll Down -->
        <a href="#why-it-works-container" class="scrollDown">More</a>

        <div class="clear"><!-- --></div>
      </article>
    </section>

    <!-- Why It Works -->
    <section id="why-it-works-container" class="home-content">
      <article id="why-it-works">
        <!-- Left -->
        <div class="left">
          <h2>Why it works</h2>
          <p>Did you know that almost half of all Australian and New Zealand consumers have a customer loyalty membership?</p>
          <p>Yet tapping into this market isn't just about sales. <br />With Cashback.com.au and MyCashback.co.nz you'll have access to a wide range of data, including demographics, product performance and even opt-in email address, all of which can help grow your business even further.</p>
        </div>

        <!-- Right -->
        <div class="right">
          <img src="images/why-it-works-image.png" />
        </div>
        <div class="clear"><!-- --></div>
      </article>
    </section>

    <!-- Solutions -->
      <section id="our-solutions-container">
        <article id="our-solutions">
          <h2>Our Solutions</h2>
          <!-- List -->
          <div class="list">
            <!-- Item -->
            <div class="item">
              <a href="#" class="thumb"><img src="images/solution-1-thumb.png" /></a>
              <h3><a href="#">Cashback Promotions</a></h3>
              <p>Our promotion services are enormously flexible, covering EFTPOS Cash Back cards, EFT, cheques and digital gift cards.</p>
              <a href="#" class="button">Find out more</a>
            </div>

            <!-- Item -->
            <div class="item">
              <a href="#" class="thumb"><img src="images/solution-2-thumb.png" /></a>
              <h3><a href="#">Gift cards and loyalty programs</a></h3>
              <p>Whether you're incentivising customers, staff or clients, branded EFTPOS gift cards are a visually striking and cost effective way to reach your goals.</p>
              <a href="#" class="button">Find out more</a>
            </div>

            <!-- Item -->
            <div class="item">
              <a href="#" class="thumb"><img src="images/solution-3-thumb.png" /></a>
              <h3><a href="#">Gift With Purchase</a></h3>
              <p>Gift with purchase (or premium offer) programs take advantage of that feeling of getting something for nothing. It’s a memorable and effective technique that will make your customer feel special.</p>
              <a href="#" class="button">Find out more</a>
            </div>

            <!-- Item -->
            <div class="item">
              <a href="#" class="thumb"><img src="images/solution-4-thumb.png" /></a>
              <h3><a href="#">Contests, sweepstakes and games</a></h3>
              <p>Make shopping even more fun! Engage your customers with a wide range of competitions to give your loyalty programs a word-of-mouth boost.</p>
              <a href="#" class="button">Find out more</a>
            </div>

            <div class="clear"><!-- --></div>
          </div>
        </article>
      </section>

      <!-- Contact Us -->
      <section id="contact-us-container">

        <article id="contact-us">
          <!-- Left -->
          <div class="left">
            <!-- Contact Form -->
            <div id="contact-form">
              <label>Contact Us</label>
              <input type="text" placeholder="Name" />
              <input type="email" placeholder="Email" />
              <textarea placeholder="Message"></textarea>
              <input type="submit" value="Submit" />
            </div>
          </div>

          <!-- Right -->
          <div class="right">
            <p>Contact Cashback.com.au today to find out how cashback and loyalty programs can help you grow your business.</p>
            <p>PO BOX 6331</p>
            <p>Alexandria, NSW 2015</p>
            <p>Australia</p>
            <p>Phone: <strong>1 300 669 487</strong></p>
          </div>
          <div class="clear"><!-- --></div>
        </article>
      </section>

      <!-- Footer -->
      <section id="footer-container">
        <footer id="footer">
          <!-- Footer Logo -->
          <a id="footer-logo" href="/">
            <img class="<%= @logo_class %>" src="<%= @footer_logo %>" />
          </a>

          <div class="clear"><!-- --></div>

          <!-- Footer Menu -->
          <nav id="footer-nav">
            <ul id="footer-menu">
              <li class="current-menu-item">
                <%= link_to "Home", root_path %>
              </li>
              <li>
                <a href="cashback-promotions.html">Solutions</a>
                <ul>
                  <li><a href="cashback-promotions.html">Cashback Promotions</a></li>
                  <li><a href="cashback-payments-and-distribution.html">Cashback Payments and Distribution</a></li>
                  <li><a href="loyalty-programs.html">Loyalty Programs</a></li>
                  <li><a href="competitions-sweepstakes-and-games.html">Competitions, Sweepstakes and Games</a></li>
                  <li><a href="promotion-management.html">Promotion Management</a></li>
                  <li><a href="gift-with-purchase.html">Gift With Purchase</a></li>
                  <li><a href="eftpos-cash-back-cards.html">EFTPOS Cash Back Cards</a></li>
                </ul>
              </li>
              <li><a href="about-us.html">About us</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
            <div class="clear"><!-- --></div>
          </nav>
          <!-- Copyright -->
          <div id="copyright">
            <p>Cashback and MYcashback  - Copyright &copy; 2017</p>
          </div>

          <!-- Credits -->
          <div id="credits">
            <a href="http://mc3.com.au/" target="_blank">MC3 Design</a>
          </div>

          <div class="clear"><!-- --></div>
        </footer>
      </section>
