<%= render partial: "components/header", locals: { current_menu_parent: "", menu_home_class: "current-menu-item", menu_cashback_promotions_class: "", menu_cashback_payments_and_distribution_class: "",menu_loyalty_programs_class: "",
                                                    menu_competitions_sweepstakes_and_games_class: "", menu_promotion_management_class: "", menu_gift_with_purchase_class: "",
                                                    menu_eftpos_cash_back_cards_class: "", menu_about_us_class: "", menu_contact_class: ""} %>

<!-- Banner -->
<section id="banner-container" style="background: transparent url(images/banner.jpg) no-repeat center center;">
  <article id="banner">
    <!-- Graphics -->
    <div class="graphics">
      <div class="inner">
        <img src="images/banner-graphics.png" />
      </div>
    </div>

    <!-- Banner Content -->
    <div id="banner-content">
      <h1>Cash Back programs for winning businesses</h1>
      <p>Australia’s leading cashback and loyalty program specialist</p>
      <a href="#who-we-are-container" class="scrollDown">Learn more</a>
    </div>
  </article>
</section>


<!-- Wrapper -->
<div id="wrapper">
  <section id="clients-bar-container">
    <article id="clients-bar">
      <img src="images/canon-logo.png" />
      <img src="images/nikon-logo.png" />
      <img src="images/garmin-logo.png" />
      <img src="images/adobe-logo.png" />
      <img src="images/makita-logo.png" />
      <img src="images/imation-logo.png" />
      <img src="images/fujifilm-logo.png" />
      <img src="images/netgear-logo.png" />
    </article>
  </section>

  <!-- Who We Are -->
  <section id="who-we-are-container" class="home-content">
    <article id="who-we-are">
      <div class="left">
        <h2>Who we are</h2>
        <p><%= @website %> is Australia's leading cashback and loyalty program specialist.</p>
        <p>Our Cash Back gift card and promotion services are used by some of the world's most powerful brands across a wide range of industries, delivering outstanding sales results time and time again.</p>
      </div>

      <div class="right">
        <img src="images/who-we-are-image.png" />
      </div>

      <a href="#why-it-works-container" class="scrollDown">More</a>

      <div class="clear"></div>
    </article>
  </section>

  <!-- Why It Works -->
  <section id="why-it-works-container" class="home-content">
    <article id="why-it-works">
      <div class="left">
        <h2>Why it works</h2>
        <p>Did you know that almost half of all Australian and New Zealand consumers have a customer loyalty membership?</p>
        <p>Yet tapping into this market isn't just about sales. <br />With Cashback.com.au and MyCashback.co.nz you'll have access to a wide range of data, including demographics, product performance and even opt-in email address, all of which can help grow your business even further.</p>
      </div>

      <div class="right">
        <img src="images/why-it-works-image.png" />
      </div>
      <div class="clear"></div>
    </article>
  </section>

  <!-- Solutions -->
  <section id="our-solutions-container">
    <article id="our-solutions">
      <h2>Our Solutions</h2>
      <div class="list">
        <div class="item">
          <a href="<%= cashback_promotions_path %>" class="thumb"><img src="images/solution-1-thumb.png" /></a>
          <h3><a href="<%= cashback_promotions_path %>">Cashback Promotions</a></h3>
          <p>Our promotion services are enormously flexible, covering EFTPOS Cash Back cards, EFT, cheques and digital gift cards.</p>
          <a href="<%= cashback_promotions_path %>" class="button">Find out more</a>
        </div>

        <div class="item">
          <a href="<%= loyalty_programs_path %>" class="thumb"><img src="images/solution-2-thumb.png" /></a>
          <h3><a href="<%= loyalty_programs_path %>">Gift cards and loyalty programs</a></h3>
          <p>Whether you're incentivising customers, staff or clients, branded EFTPOS gift cards are a visually striking and cost effective way to reach your goals.</p>
          <a href="<%= loyalty_programs_path %>" class="button">Find out more</a>
        </div>

        <div class="item">
          <a href="<%= gift_with_purchase_path %>" class="thumb"><img src="images/solution-3-thumb.png" /></a>
          <h3><a href="<%= gift_with_purchase_path %>">Gift With Purchase</a></h3>
          <p>Gift with purchase (or premium offer) programs take advantage of that feeling of getting something for nothing. It’s a memorable and effective technique that will make your customer feel special.</p>
          <a href="<%= gift_with_purchase_path %>" class="button">Find out more</a>
        </div>

        <div class="item">
          <a href="<%= competitions_sweepstakes_and_games_path %>" class="thumb"><img src="images/solution-4-thumb.png" /></a>
          <h3><a href="<%= competitions_sweepstakes_and_games_path %>">Contests, sweepstakes and games</a></h3>
          <p>Make shopping even more fun! Engage your customers with a wide range of competitions to give your loyalty programs a word-of-mouth boost.</p>
          <a href="<%= competitions_sweepstakes_and_games_path %>" class="button">Find out more</a>
        </div>

        <div class="clear"></div>
      </div>
    </article>
  </section>

  <%= render partial: "components/contact_us" %>

  <%= render partial: "components/footer", locals: {current_footer_parent: "", footer_home_class: "current-menu-item", footer_cashback_promotions_class: "", footer_cashback_payments_and_distribution_class: "",footer_loyalty_programs_class: "",
                                                      footer_competitions_sweepstakes_and_games_class: "", footer_promotion_management_class: "", footer_gift_with_purchase_class: "",
                                                      footer_eftpos_cash_back_cards_class: "", footer_about_us_class: "", footer_contact_class: ""} %>
</div>
